<h1>Template Static Form</h1>

<hr/>

<form #templateform="ngForm" (submit)="adduser(templateform)" >
 
  <div>
    <label>Name: </label>
    <input type="text" [(ngModel)]="firstname"  placeholder="Enter Name" name="firstname">  
  
  </div>
  <br/>
  <div>
    <label>Email address: </label>
    <input type="email" [(ngModel)]="email"  placeholder="Enter Email" name="email">
  </div>
  <br/>
  <div>
    <label>Enter Description: </label>
    <textarea [(ngModel)]="description" placeholder="Description" name="description"></textarea>
  </div>
  <br/>
  <div>
    
    <input type="checkbox" [(ngModel)]="terms" required name="terms"> Terms and conditions
  </div>
  <hr/>
  <div>
    <button type="submit" [disabled]="!templateform.valid" >Submit</button>
    <button type="reset" >Reset</button>
    <button type="button" (click)=loadvalues()  >Default  </button>
  </div>
 
</form>
