<h1>Template Static Form</h1>


<form #templateform="ngForm" (submit)="adduser(templateform)" >
 
  <div>
    <label>Name: </label>
    <input type="text" [(ngModel)]="firstname" placeholder="Enter Name" name="firstname">  
  
  </div>
  <br/>
  <div>
    <label>Email address: </label>
    <input type="email" [(ngModel)]="email" placeholder="Enter Email" name="email">
  </div>
  <br/>
  <div>
    <label>Enter Description: </label>
    <input type="text" [(ngModel)]="description" placeholder="Description" name="description">
  </div>
  <br/>
  <div>
    
    <input type="checkbox" [(ngModel)]="terms" name="terms"> Terms and conditions
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
 
</form>